{% load static %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}IPES Paulo Freire{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'ui/css/tema-ipes.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="app">
    <aside class="sidebar">
      <div class="logo">🛡️ <span>IPES Paulo Freire</span></div>
      <nav class="nav">
        <a href="{% url 'ui:dashboard' %}" class="{% block nav_dashboard %}{% endblock %}">📊 Panel</a>
        <a href="#" class="">📚 Cursos</a>
        <a href="{% url 'ui:estudiantes_list' %}" class="{% block nav_estudiantes %}{% endblock %}">🧑‍🎓 Estudiantes</a>
        <a href="#" class="">🗓️ Horarios</a>
        <a href="{% url 'ui:inscribir_carrera' %}" class="{% block nav_insc %}{% endblock %}">📝 Inscripción</a>
      </nav>
    </aside>

    <div>
      <div class="topbar">
        <div class="left"></div>
        <div class="right">Usuario: {{ request.user|default:'—' }} &nbsp;•&nbsp; <a href="{% url 'logout' %}">Cerrar sesión</a></div>
      </div>

      <main class="main">
        <div class="container">
          {% block content %}{% endblock %}
        </div>
      </main>
    </div>
  </div>
</body>
</html>