{% extends "ui/base.html" %}
{% load static %}

{% block title %}Horarios por Profesorado{% endblock %}

{% block content %}
<div class="panel">
  <h1>Horarios por Profesorado</h1>

  <div class="filters">
    <label for="hp_carrera">Profesorado / Carrera</label>
    <select id="hp_carrera" class="select"><option value="">---------</option></select>

    <label for="hp_plan">Plan</label>
    <select id="hp_plan" class="select"><option value="">---------</option></select>
  </div>

  <div id="hp_sections"></div>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'ui/css/horarios.css' %}?v=16">
{% endblock %}

{% block extra_js %}
<script src="{% static 'ui/js/horarios_profesorado.js' %}?v=5"></script>
{% endblock %}
